@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 60, 60);
    height: 80px;
    padding: 0 50px 0px 80px;
    align-items: center;
}
.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
}
input{
    display: none;
}
label{
    display: none;
}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
    margin: 0 10px;
}
ul li a{
    text-decoration: none;
    padding: 15px 50px ;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
.menu a:hover , .active-home{
    background-color: brown;
    border-radius: 8px;
}
@media only screen and (max-width:1298px){
    ul{
        position: fixed;
        background-color: rgb(48, 46, 46);
        top: 80px;
        left: -100%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
    }
    ul li{
        margin-top: 80px;
    }
    label{
        display: block;
    }
    input:checked ~ label i::before{
        content: "\58";
    }
    input:checked ~ ul{
        left: 0%;
    }
}
@media only screen and (max-width:392px){
    .logo{
        font-size: 20px;
    }
    ul li a{
        text-decoration: none;
        padding: 8px 30px ;
        font-size: 10px;
        color: white;
        font-weight: bold;
    }
}